---
# Solution based on https://github.com/11ty/eleventy/issues/1726#issuecomment-1253220142
permalink: "/extension.css"
---
title {
    background-position-x: 37%;
}
.rating-badge {
    display: block;
    margin-top: 5px;
    padding: 5px;
    padding-left: 1em;
    border: 1px solid black;
    border-radius: 10px;
}

.info-window-map .rating-badge {
    color: black;
    font-size: 1.5em;
    font-weight: bolder;
}

{% for about, colour in ratingColourById -%}
{% if colour %}
.teaser:has(a[href$="/{{about}}"]) .rating-badge, .info-window-map:has(a[href$="/{{about}}"]) .rating-badge {
    background-color: {{colour}};
}
{% endif %}
{%- endfor %}

