---
# Solution based on https://github.com/11ty/eleventy/issues/1726#issuecomment-1253220142
permalink: "/extension.css"
---
title {
    background-position-x: 37%;
}
{% for about, colour in ratingColourById -%}
{% if colour %}
/*
.teaser:has(a[href$="/{{about}}"]), .info-window-map:has(a[href$="/{{about}}"]) {
    background-color: {{colour}};
}
*/
.teaser:has(a[href$="/{{about}}"]) .teaser-author::after {
    display: block;
    margin-top: 5px;
    padding: 5px;
    padding-left: 1em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: {{colour}};
    content: "Rating: {{totalRatingById[about]}}";
}
{% endif %}
{%- endfor %}

