---
layout: layout.njk
title: Home
---
<header>
    <h1><a href="/">TIP Zorgkaart Overlay</a></h1>
    <p>A volunteer-run a webpage and browser extension
        that overlay/display the positive & negative experiences
        of other trans people about <a href="https://www.transgenderinfo.be/nl/zorgkaart">TIP</a>'s different care providers.
    </p>
    <p>You can view the <a href="https://github.com/Denperidge/tip-zorgkaart-overlay">source code on GitHub</a>.</p>
    <hr>
</header>
<main>
    <h2>Care providers</h2>
    <ul id="care-providers">
        {%- for about in allAbout -%}
        <li class="{{about}}">
            <a href="/ratings/{{about}}">
                {{about}}
                {% include "rating-badge.njk" %}
            </a>
        </li>
        {%- endfor -%}
    </ul>
</main>