---
layout: layout.njk
pagination:
    data: ratingsByAbout
    size: 1
    alias: about
eleventyComputed:
    permalink: "/ratings/{{about}}/index.html"
    title: "{{about}}"
---
<header>
    <h1><a href="/">TIP Zorgkaart Overlay</a></h1>
    <h2>Ratings for <a href="https://www.transgenderinfo.be/nl/zorgkaart/{{about}}">{{about}}</a></h2>
</header>

<article id="{{ about }}" class="care-provider">
    <header>
        <h2>Total: {% include "rating-badge.njk" %}</h2>
    </header>
    <ul class="ratings">
        {% for rating in ratingsById[about] %}
            {% if rating.rating < 0 %}
                {% set ratingText = "- Negative"  %}
            {% elif rating.rating == 0  %}
                {% set ratingText = "~ Neutral"  %}
            {% else %}
                {% set ratingText = "+ Positive"  %}
            {% endif %}
            <li class="rating {{ratingText}}">
                <span class="value">[{{ratingText}}]</span>
            <p class="comment">{{rating.comment}}</p>
            </li>
        {% endfor %}
    </ul>
</article>